
@keyframes slideInVertical {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translate(0);
  }
}

@keyframes slideInHorizontal {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}
